@media screen and (max-width: 600px) {
    nav,
    .nav-container,
    .items-container,
    .items-container>ul{
        flex-direction: column;
        width: 100%;
        margin: 5px;
    }
    .nav-container,
    .items-container>ul{
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        max-width: 100%;
        margin: 0 auto;
        margin-left: 10px;
        border-radius: 8px;
    }
    .items-container li a{
        width: 100%;
    }
    .text-style{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .banner-text p{
        padding-bottom: 0px;
        max-width: 100%;
    }
    .banner-box{
        flex-direction: column;
        gap: 5px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 0px 0px;
    }
    .container{
        flex-direction: column;
        max-width: 100%;
        margin-left: 0px;
        margin: 5px auto;
    }
    .text-one{
        max-width: 100%;
        margin: 5px auto;
        margin-left: 5px;
    }
    .img-one{
        max-width: 100%;
        margin: 0 auto;
    }
    .foot{
        max-width: 100%;
    }
    .dictumst{
        flex-direction: column;
        max-width: 100%;
    }
    .safe img{
        width: 100%;
    }
    .safe{
        max-width: 100%;
        margin-left: 0;
    }
    .box-one{
        width: 100%;
        margin: 10px auto;
    }
    body{
        margin: 5px 10px;
    }
    .card-hero,
    .card-itam{
        flex-direction: column;
        max-width: 100%;
    }
    .card-one,
    .card-two,
    .card-three{
        flex-direction: column;
        max-width: 100%;
    }
    .row-one,
    .row-two,
    .row-three{
        flex-direction: column;
        max-width: 100%;
    }
    .row-one h3,
    .row-two h3,
    .row-three h3{
        padding-left:0%;
    }
    .row-one img,
    .row-two img,
    .row-three img {
        width: 100%;
    }
    .bunnas{
        min-width: 100%;
        flex-direction: column;
    }
}