@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
nav{
   display: flex; 
   justify-content: space-between;
   max-width: 1300px;
   margin: 0 auto;
}
.nav-container{
    display: flex;
    min-height: 20px;
    width: 50%;
    align-items: center;
    gap: 10px;
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-container img{
    width: 70px;
    height: 70px;
}
.items-container{
    min-height: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}
.items-container>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
   
}
.items-container li{
    list-style: none;
    margin-right: 40px;
}
.items-container li a{
    text-decoration: none;
    color: #000;
    font-size: small;
}

.banner-container{
    background-image: url('../Group13.png');
    background-repeat: no-repeat;
    height: 54vh;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
.banner-text p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 50px;
}
#text-style{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.banner-box{
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 18px;
    margin-bottom: 100px;
}
.box-style{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
}
.banner-box button{
    background: #FF5400;
    color: #FFF;
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 5px auto;
}
.text-one{
    max-width: 50%;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.text-one p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.text-one li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.text-one button{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
}
.img-one{
    padding-top: 50px;
}
.foot{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 70px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.foot hr {
    max-width: 1200px;
    height: 1px;
}
.foot p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.dictumst{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}
.box-one{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    flex-shrink: 0;
}
.box-two{
    display: grid;
    border-radius: 8px;
    gap: 30px;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    padding-left: 30px;
}
.dictumst h2{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 70px;
}
.dictumst p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.safe{
    position: relative;
    min-width: 60%;
    margin: 0 30px;
}
.safe-one{
    height: 100px;
    width: 220px;
    background-color: orangered;
    position: absolute;
    bottom: 10%;
    border-radius: 10px;
    left: 65%;
    transform: rotate(-19.628deg);
}
.safe-one p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
.safe-one h3{
    color: #FFF;
    font-family: Mulish;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card-itam{
    max-width: 1200px;
    margin: 70px auto;

}
.card-itam h3{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.card-itam p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.card-one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
}
.card-two{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-three{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    margin: 0px auto;
}
.card-hero{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
}
.row-hero{
    max-width: 1200px;
    margin: 50px auto;
}
.row-hero h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.row-hero p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.row-one{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.row-two{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.row-three{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.row-one h3 {
    position: absolute;
    bottom: 50%;
    padding-left: 20%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.row-two h3 {
    position: absolute;
    bottom: 50%;
    padding-left: 5%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.row-three h3 {
    position: absolute;
    bottom: 50%;
    padding-left: 10%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bunnas{
    text-align: center;
    margin: 5px auto;
    max-width: 1200px;
}
.bunnas-text h1{
    color: orangered;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bunnas-text p{
    color: orangered;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bunnas-text h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bunnas img{
    clip-path: polygon(100% 0, 100% 81%, 50% 100%, 50% 100%, 0 82%, 0% 0%);
}